<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="updates" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".NewEmployeeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".CreateCredentialsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".PollEditorActivity"
            android:exported="false"
            android:parentActivityName=".CreatePostActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".DeveloperConsoleActivity"
            android:exported="false"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".MediaViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />
    </application>

</manifest>

